/* write your css here */
html, body{
    overflow-x: hidden;
}
.homepage_bg{
    background-image: url("../src/assets/Images/bghome.svg");
}
.form-style{
    padding: 12px;
    border-radius: 8px;
background: var(--rich-black-800, #161D29);
box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.18) inset;
}
.redHighlightText{
    background: -webkit-linear-gradient(#ff026b, #ff2706, #ff6a06 ,#ffd606);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orangeHighlightText{
    background: -webkit-linear-gradient(#ff8102, #ffac06, #ff8306 ,#ffd606);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;	
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background: #000814;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #afb2bf;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }  

  .speech-bubble-right::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid #049069;
    border-right: 5px solid transparent;
    border-top: 5px solid #049069;
    border-bottom: 5px solid transparent;
    right: -10px;
    top: 0;
}

.speech-bubble-left::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid transparent;
    left: -10px;
    top: 0;
}